{% extends "homepage/header.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container-fluid">
        
        <br>
        <div class="row justify-content-md-center">
            <div class="col-sm-3">
                <img src="{% static 'auctions/herbal.png' %}" class="img-fluid" width="65%" height="65%" alt="X, every day." style="max-height: 300px; max-width: 300px;">
                <h2>X Auctions</h2>
                <p>Place holder text!</p>
                <a class="btn btn-primary" href="/auctions/listings/?asset=X" role="button">View details &raquo;</a>
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-3">
                <img src="{% static 'auctions/oil.png' %}" class="img-fluid" width="65%" height="65%" alt="Y, gets ya high." style="max-height: 300px; max-width: 300px;">
                <h2>Y Auctions</h2>
                <p>Place holder text!</p>
                <a class="btn btn-primary" href="/auctions/listings/?asset=Y" role="button">View details &raquo;</a>
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-3">
                <img src="{% static 'auctions/chemistry.png' %}" class="img-fluid" width="65%" height="65%" alt="X, every day." style="max-height: 300px; max-width: 300px;">
                <h2>Patent Auctions</h2>
                <p>Place holder text!</p>
                <a class="btn btn-primary" href="/auctions/listings/?asset=PATENT" role="button">View details &raquo;</a>
            </div><!-- /.col-lg-4 -->
        </div>
        <br>
        <div class="row justify-content-md-center">
            <div class="col-sm-3">
                <img src="{% static 'auctions/file.png' %}" class="img-fluid" width="65%" height="65%" alt="X, every day." style="max-height: 200px; max-width: 200px;">
                <h2>License Auctions</h2>
                <p>Place holder text!</p>
                <a class="btn btn-primary" href="/auctions/listings/?asset=LICENSE" role="button">View details &raquo;</a>
            </div><!-- /.col-lg-4 -->
            <div class="col-sm-3">
                    <img src="{% static 'auctions/plant.png' %}" class="img-fluid" width="65%" height="65%" alt="X, every day." style="max-height: 200px; max-width: 200px;">
                    <h2>Plant Auctions</h2>
                    <p>Place holder text!</p>
                    <a class="btn btn-primary" href="/auctions/listings/?asset=PLANT" role="button">View details &raquo;</a>
            </div><!-- /.col-lg-4 -->
        </div>
    </div>

{% endblock %}