<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{%  static 'homepage/img/favicon.ico' %}">

    <title>{% block titleblock %}Alpha Auctions by Team 50{% endblock %}</title>
    <meta charset="utf-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #49fcd4">
    <a class="navbar-brand" href="/">Alpha Auctions</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#AlphaNav" aria-controls="AlphaNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="AlphaNav">
        
        <ul class="navbar-nav mr-auto mt-1 mt-lg-2">
            <li class="nav-item active"></li>
                <a class="nav-item nav-link" href="/auctions/">Auctions</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href='/accounts/profile/'>My Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='/accounts/logout/'>Logout</a></p>
            </li>
            
            {% else %}
            <li class="nav-item">
                <a class="nav-item nav-link" href='/accounts/login/'>Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href='/accounts/register/'>Register</a></p>
            </li>
                
            {% endif %}
        
    </div>
</nav>

<body class="body">
    <div class="container-fluid">
        <br>
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>