<!DOCTYPE HTML>

{% load staticfiles %}

<html>
	<head>
        <title>Alpha Auctions</title>
        <link rel="shortcut icon" href="{%  static 'homepage/img/favicon.ico' %}">

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{%  static 'homepage/assets/css/main.css' %}" />
    </head>
    
	<body class="is-preload">

		<!-- Wrapper -->
        <div id="wrapper">

            <!-- Intro -->
                <section class="intro">
                    <header>
                        <h1>Join the fam</h1>
                        
                    </header>
                    <div class="content">
                        <br>
                        <br>
                        <br>
                        <h1>The current bid is: {{ current }}</h1>
                        <br>
                        <p>Submit your bid to become an equity stakeholder.</p>
                        {% load crispy_forms_tags %}
                        {% if user.is_authenticated %}
                        <form method="post" action="." novalidate>
                            </br>
                                {% csrf_token %}
                                {{ form|crispy }}
                 
                            </br>
                            <button type="submit" class="btn btn-success">Submit Bid</button>
                        </form>
                        {% endif %}    
                    </div>
                </section>

					
		<!-- Scripts -->
			<script src="{%  static 'homepage/assets/js/jquery.min.js' %}"></script>
			<script src="{%  static 'homepage/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{%  static 'homepage/assets/js/browser.min.js' %}"></script>
			<script src="{%  static 'homepage/assets/js/breakpoints.min.js' %}"></script>
			<script src="{%  static 'homepage/assets/js/util.js' %}"></script>
			<script src="{%  static 'homepage/assets/js/main.js' %}"></script>

	</body>

</html>